.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    padding: 1rem;
}

.inputContainer {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    gap: 0 20px;
    width: 100%;
}

.inputContainer label {
    text-align: right;
}

.customInput {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

.error {
    grid-column: 2;
    color: #972121;
    font-size: 0.85rem;
}

.checkboxRow {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.checkboxRow input[type="checkbox"] {
    margin: 0;
}
