 :root {
     --cols: 6;
  }

.heading {
    padding-bottom: 50px;
}

 .wrapper {
     display: flex;
     align-items: flex-start;
     gap: 1rem;
 }

 .container {
     overflow-x: auto;
     max-width: 100%;
     display: flex;
 }

 .table {
     display: grid;
     grid-template-columns: repeat(var(--cols), minmax(150px, auto));
     border: 1px solid #ccc;
     border-radius: 6px;
     flex-shrink: 0;
     max-height: 500px;
     overflow-y: auto;
 }

 .addButton {
     flex-shrink: 0;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     font-size: 24px;
 }
